.main {
    display: flex;
    height: 100vh;
}

.sectionLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    position: relative;
    
}

.wrapper {
    width: 532px;

}

.wrapper > h1 {
    font-size: 40px;
    font-weight: 600;
    color: var(--textPrimaryColor);
}

.wrapper > p {
    font-size: 16px;
    font-weight: 500;
    color: var(--textPrimaryColor);
}

.sectionRight {
    width: 50vw;
    height: 100vh;
    position: relative;
}

.backgroundImage {
    border-bottom-left-radius: 100px;
}

.sectionRight > div {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.sectionRight > div > p {
    font-size: 54px;
    font-weight: 600;
    color: var(--whiteColor);
}

